form {
    max-width: 800px;
    max-height: 607px;
    background-color: bisque;
    padding: 15px;
    border: rgb(228, 196, 158) groove 15px;
    border-radius: 0 25px 0 25px;
    text-align: center;
    position: relative;
    margin: auto auto auto auto;
    overflow: auto;


    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;

        label {
            padding: auto;
            flex: 1;
            font-size: 24px;
            margin: auto 10px auto auto;
        }


        input {
            flex: 12;
            border-radius: 50px;
            padding: 5px;
            background-color: #00000000;
            color: $color-blanco;
            border: 3px solid $color-blanco;

        }


        textarea {
            flex: auto;
            resize: none;
            background-color: rgba(175, 175, 175, 0.445);

        }




        input[type="submit"] {
            flex: 1;
            border-radius: 50px;
            padding: 5px 100px 5px 100px;
            background-color: rgba(168, 168, 168, 0.295);
            display: inline-block;
            cursor: pointer;
            box-sizing: border-box;
            position: relative;
            color: rgb(24, 24, 24);
        }
    }
}