.contenedor {
    min-height: 50%;
    max-width: 80%;
    padding: 2%;
    border: 2vw groove rgb(228, 196, 158);
    border-radius: 0 2vw 0 2vw;
    margin: 0 auto 2% auto;
    text-align: center;

    iframe {
        width: 90%;

        aspect-ratio: 16 /9;
        margin: 25px;
    }
}