* {
    padding: 0px;
    margin: 0px;
}

html {
    min-height: 100%;

    body {
        background-color: $color-negrito;
        color: #000000;
        position: relative;
        min-height: 100vh;
    }
}